body{
    margin: 0px;
    padding: 0px;
}

#div1{
    width: 300px;
    height: 150px;
}
.btn{
    position: absolute;
    top:123px;
    left: 96px;
}
.btn .btn_round{
    display: inline-block;
    margin:0 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: gray;
}
.btn .btn_hover{
    background: orange;
}